body {
    margin: 0px;
    padding: 0px;
    font-family: calibri,Helvetica,Arial;
    font-size: 14px;
    color: #333333;
}

.container {
    width: 800px;
    margin: 5px auto;
    padding: 10px;
}

.btn-line .btn {
    margin-right: 5px;
}

.btn {
    display: inline-block;
    padding: 8px 15px;
    background: #DDDDDD;
    color: #777777;
    cursor: pointer;
    border-radius: 2px;
    will-change: transform;
    transition: transform .1s ease , background-color .2s ease;
    position: relative;
    transform: translateY(0px);
}

.btn:hover {
    top: 2px;
    color: #333333;
    background: dodgerblue;
    transform: translateY(1px);
}

.btn-txt {

}

.hint {

}

.hint-txt {

}